{% extends 'base.html' %}

{% block content %}
{% include '_modal.html' %}
{% include 'navbar.html' %}
{% if user.is_teacher %}

<div class="container">
    <div class="row">
      <!--Side Navigation Bar-->
      {% include 'sidenav.html' %}
      <div class="col">
        

      </div>

      <div class="col-12" style="margin-top: 3rem; margin-bottom: 3rem;">
          <div class="card" style="font-size: 14px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Quiz List</li>
                  </ol>
                </nav>
               

           
                <div class="card" style="font-size: 14px;">
                  <table class="table mb-0 text-center">
                    <thead>
                      <tr>
                        <th>Quiz</th>
                        <th>Year Level</th>
                        <th>Questions</th>
                        <th>Taken</th>
                        <th><a href="{% url 'teachers:quiz_add' %}" class="btn btn-primary btn-sm  col-md-4 offset-md-8" role="button" >
                      <i class="fas fa-plus" aria-hidden="false"></i>&nbsp Quiz
                    </a></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for quiz in quizzes %}
                        <tr>
                          <td class="align-middle"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></td>
                          <td class="align-middle">{{ quiz.year_level }}</td>
                          <td class="align-middle">{{ quiz.questions_count }}</td>
                          <td class="align-middle">{{ quiz.taken_count }}</td>
                          <td class="text-right" style="color: white;">
                            <a data-id="{% url 'teachers:quiz_results' quiz.pk %}" class="quiz-results btn btn-primary btn-sm"><i class="far fa-eye" aria-hidden="false"></i>&nbspView Result</a>
                            <a data-id="{% url 'teachers:quiz_delete' quiz.pk %}" class="quiz-delete btn btn-danger btn-sm"><i class="far fa-trash-alt" aria-hidden="false"></i>&nbspDelete</a>
                            <a href="{% url 'teachers:quiz_change' quiz.pk %}" class="btn btn-secondary btn-sm"><i class="fas fa-edit" aria-hidden="false"></i>&nbspEdit</a>
                          </td>
                        </tr>
                      {% empty %}
                        <tr>
                          <td class="bg-light text-center font-italic" colspan="5">You haven't created any quiz yet.</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              
            </div>
          </div>
      </div>
      <div class="col">
        
      </div>

    </div>
  </div>
{% endif %}
{% include "footer.html" %}
{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
    $(function () {

      // Read book buttons
      $(".quiz-results").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete book buttons
      $(".quiz-delete").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })
    });
  </script>
  {% endblock extrascripts %}
