{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    {% include 'navbar.html' %}
  {% if user.is_teacher %}
  
  <div class="container">
      <div class="row">
        <!--Side Navigation Bar-->
        {% include 'sidenav.html' %}
        <div class="col">
          
  
        </div>
  
        <div class="col" style="margin-top: 6rem; margin-bottom: 3rem;">
            <div class="card" style="width: 60rem; font-size: 14px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);">
              <div class="card-body">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Year Level</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Year Level</li>
                  </ol>
                </nav>
                <h2 class="mb-3">Add Year Level</h2>
                <div class="row">
                  <div class="col-md-6 col-sm-8 col-12">
                    <form method="post" novalidate>
                      {% csrf_token %}
                      {{ form|crispy }}
                      <button type="submit" class="btn btn-success">Save</button>
                      <a href="{% url 'teachers:quiz_change_list' %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col">
          
        </div>
  
      </div>
    </div>
  {% endif %}
  {% include 'footer.html' %}
{% endblock %}