{% extends 'base.html' %}

{% load crispy_forms_tags crispy_forms_filters %}

{% block content %}
{% include '_modal.html' %}
  {% include 'navbar.html' %}
  {% if user.is_teacher %}

  <div class="container">
      <div class="row">
        {% include 'sidenav.html' %}

        <div class="col">


        </div>

        <div class="col-12" style="margin-top: 1rem; margin-bottom: 3rem;">
            <div class="card" style=" font-size: 14px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);">
              <div class="card-body">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'exams:created_exams_list' %}">My Exams</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'exams:update_exams' exams.pk %}">{{ exams.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ question.text }}</li>
                  </ol>
                </nav>
                <h2 class="mb-3">{{ question.txt }}</h2>
                <form method="post" novalidate>
                  {% csrf_token %}
                  {{ formset.management_form }}
                  {{ form|crispy }}
                  <div class="card mb-3{% if formset.errors %} border-danger{% endif %}">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-8">
                          <strong>Answers</strong>
                        </div>
                        <div class="col-2">
                          <strong>Correct?</strong>
                        </div>
                        <div class="col-2">
                          <strong>Delete?</strong>
                        </div>
                      </div>
                    </div>
                    {% for error in formset.non_form_errors %}
                      <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
                    {% endfor %}
                    <div class="list-group list-group-flush list-group-formset">
                      {% for form in formset %}
                        <div class="list-group-item">
                          <div class="row">
                            <div class="col-8">
                              {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                              {{ form.text|as_crispy_field }}
                              {% if form.instance.pk and form.text.value != form.instance.text %}<p class="mb-0 mt-1"><small class="text-muted font-italic"><strong>Old answer:</strong> {{ form.instance.text }}</small></p>{% endif %}
                            </div>
                            <div class="col-2">
                              {{ form.is_correct }}
                            </div>
                            <div class="col-2">
                              {% if form.instance.pk %}
                                {{ form.DELETE }}
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <p>
                    <small class="form-text text-muted">Your question may have at least <strong>2</strong> answers and maximum <strong>10</strong> answers. Select at least one correct answer.</small>
                  </p>
                  <button type="submit" class="btn btn-success btn-sm"><i class="far fa-save" aria-hidden="false"></i>&nbspSave Changes</button>
                  <a href="{% url 'exams:update_exams' exams.pk %}" class="btn btn-outline-secondary btn-sm" role="button"><i class="fas fa-times" aria-hidden="false"></i>&nbspCancel</a>
                  <a class="exam-delete btn btn-danger btn-sm float-right text-light" data-id="{% url 'exams:exams_question_delete' exams.pk question.pk %}" class="btn btn-danger btn-sm"><i class="far fa-trash-alt" aria-hidden="false"></i>&nbspDelete</a>
                </form>
              </div>
            </div>
        </div>
        <div class="col">

        </div>

      </div>
    </div>
  {% endif %}

{% endblock %}
{% block extrascripts %}

<script type="text/javascript">
    $(function () {

      // Read book buttons
      $(".view-results").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete book buttons
      $(".exam-delete").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })
    });
  </script>
  {% endblock extrascripts %}
