    <!-- Footer -->
    <footer class="page-footer font-small pt-1 fixed-bottom " style="background-color: #27ae60; height: 30px; font-size: 13px;">

    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-1" style='color: #FFFF;'>© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/" style='color: #FFFF;'> Batangas State University | CIT Department</a>
        </div>
        <!-- Copyright -->
        <span class="badge badge-danger float-left" style='margin-left: 1rem;'>{% now "SHORT_DATETIME_FORMAT" %}</span>
    
    </footer>
    <!-- Footer -->